:root {
  --color-primary:#FD665E;
  --grey-primary:#f7f7f7;
  --font-primary:  'Playfair Display', serif;
  --font-secondary:   'Source Serif Pro', serif;
  --grey-dark-3:#777;
  --grey-dark-2:#d1d1d1; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 57.375em) {
    html {
      fontsize: 55.5%; } }
  @media only screen and (max-width: 40.8125em) {
    html {
      font-size: 50.5%; } }
  @media only screen and (max-width: 30.06em) {
    html {
      font-size: 49.5%; } }

body {
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1.6; }

.container {
  margin: 2rem 0 0 0; }

.header {
  margin: 0 10rem 0 12rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between; }
  @media only screen and (max-width: 69.25em) {
    .header {
      margin: 0 1rem 0 4rem; } }
  @media only screen and (max-width: 30.06em) {
    .header {
      margin: 0 0 0 4rem; } }
  @media only screen and (max-width: 57.375em) {
    .header-nav {
      display: none; } }
  .header-toggle {
    display: none; }
    @media only screen and (max-width: 57.375em) {
      .header-toggle {
        display: flex;
        margin-right: 4rem; } }

.house {
  margin-top: 2rem;
  margin-left: 12rem;
  font-family: var(--font-primary); }
  @media only screen and (max-width: 69.25em) {
    .house {
      margin: 2rem 1rem 0 4rem; } }
  @media only screen and (max-width: 57.375em) {
    .house {
      margin-left: 2rem;
      margin-top: 0; } }
  @media only screen and (max-width: 30.06em) {
    .house {
      margin: 0 5rem 0 4rem; } }

.house-intro {
  display: flex;
  height: 70vh;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 57.375em) {
    .house-intro {
      margin-bottom: 3rem;
      height: 35vh; } }
  @media only screen and (max-width: 30.06em) {
    .house-intro {
      height: 35vh;
      margin-bottom: 0; } }
  @media only screen and (max-width: 30.06em) {
    .house-intro {
      flex-direction: column;
      margin-bottom: 3rem;
      justify-content: center;
      align-items: center;
      height: 30vh; } }

.about {
  background-color: var(--color-primary);
  margin-right: 10rem;
  overflow: hidden;
  padding-left: 5rem;
  display: flex;
  margin-bottom: 7rem; }
  @media only screen and (max-width: 57.375em) {
    .about {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-right: 2rem; } }

.house-assured {
  display: flex;
  height: 70vh;
  margin-bottom: 5rem;
  margin-right: 10rem;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 57.375em) {
    .house-assured {
      margin-bottom: 3rem;
      height: 35vh; } }
  @media only screen and (max-width: 30.06em) {
    .house-assured {
      height: 35vh;
      margin-bottom: 0; } }
  @media only screen and (max-width: 57.375em) {
    .house-assured {
      margin-right: 2rem; } }
  @media only screen and (max-width: 30.06em) {
    .house-assured {
      flex-direction: column;
      margin-bottom: 5rem;
      justify-content: center;
      align-items: center;
      height: 15vh; } }

.blog {
  margin-bottom: 10rem;
  margin-right: 10rem; }
  @media only screen and (max-width: 57.375em) {
    .blog {
      margin-right: 2rem; } }

.blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.blog-list {
  display: flex;
  margin-top: 5rem;
  justify-content: start; }
  @media only screen and (max-width: 44.5625em) {
    .blog-list {
      flex-direction: column; } }

.footer {
  padding: 0 10rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-primary);
  overflow: hidden;
  height: 34vh;
  background-color: var(--grey-primary); }
  @media only screen and (max-width: 57.375em) {
    .footer {
      flex-direction: column;
      justify-content: initial;
      padding-top: 3rem;
      height: 15vh; } }
  @media only screen and (max-width: 30.06em) {
    .footer {
      padding: 3rem 1rem 0 1rem; } }

.testimony {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 57.375em) {
    .testimony {
      margin-top: 6rem;
      margin-right: 2rem;
      margin-bottom: 2rem; } }

.nav {
  display: flex;
  list-style-type: none; }
  .nav__item {
    margin: 0 1.5rem;
    color: #696969;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-family: var(--font-secondary);
    font-weight: 500;
    cursor: pointer; }
  .nav__item:nth-child(1) {
    border-bottom: 2px solid var(--color-primary); }
  .nav__item:hover {
    border-bottom: 2px solid var(--color-primary); }

.header-toggle {
  align-self: center; }
  .header-toggle__icon {
    height: 2px;
    width: 2.7rem;
    border-radius: 5px;
    border: none;
    background-color: black; }
  .header-toggle__icon::before,
  .header-toggle ::after {
    content: "";
    height: 2px;
    margin-top: 1rem;
    width: 2.7rem;
    border-radius: 5px;
    border: none;
    background-color: black;
    display: block; }

.logo {
  color: var(--color-primary);
  font-weight: 700; }

.btn-1:hover {
  background-position: 100%;
  color: white; }

.btn-1 {
  background-color: white;
  outline: 1px solid var(--color-primary);
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ce1111 50%);
  transition: all .3s;
  border: none;
  background-size: 220%;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-primary);
  height: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.8rem;
  width: 19rem; }
  @media only screen and (max-width: 40.8125em) {
    .btn-1 {
      width: 14rem; } }
  @media only screen and (max-width: 30.06em) {
    .btn-1 {
      margin-top: 2rem; } }

.house-intro__photo {
  height: 100%;
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 57.375em) {
    .house-intro__photo {
      height: 50%; } }

.house-intro__details {
  flex: 1;
  align-self: center; }
  @media only screen and (max-width: 30.06em) {
    .house-intro__details {
      align-self: center;
      flex: 0; } }
  .house-intro__details-heading {
    width: 68%; }
    @media only screen and (max-width: 69.25em) {
      .house-intro__details-heading {
        width: 90%; } }
    @media only screen and (max-width: 57.375em) {
      .house-intro__details-heading {
        width: 80%; } }
    @media only screen and (max-width: 30.06em) {
      .house-intro__details-heading {
        width: 60%; } }
    @media only screen and (max-width: 18.125em) {
      .house-intro__details-heading {
        width: 80%; } }
  .house-intro__details-info {
    margin-top: 3rem;
    width: 50%;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 57.375em) {
      .house-intro__details-info {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        width: 70%; } }
    @media only screen and (max-width: 40.8125em) {
      .house-intro__details-info {
        width: 80%; } }
    @media only screen and (max-width: 30.06em) {
      .house-intro__details-info {
        width: 90%; } }

.house-intro__item {
  flex: 1; }
  @media only screen and (max-width: 57.375em) {
    .house-intro__item {
      align-self: center; } }
  @media only screen and (max-width: 30.06em) {
    .house-intro__item {
      display: none; } }

.house-value__gallary {
  display: flex;
  height: 65vh;
  margin-top: 4rem;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 57.375em) {
    .house-value__gallary {
      flex-wrap: wrap;
      height: 85vh;
      margin-top: 1rem; } }

@media only screen and (max-width: 57.375em) {
  .house-value__item {
    flex: 1 0 44%;
    height: 50%;
    margin-top: 2rem; } }

.house-value__item:not(:last-child) {
  margin-right: 3rem; }
  @media only screen and (max-width: 57.375em) {
    .house-value__item:not(:last-child) {
      margin-right: 1rem; } }

.house-value__photo {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.about__gallary {
  flex: 1;
  display: flex; }
  .about__gallary-1 {
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 57.375em) {
      .about__gallary-1 {
        width: 100%; } }
  .about__gallary__left {
    align-self: center; }
  .about__gallary__right {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    justify-content: space-around;
    margin-top: 2rem; }
    .about__gallary__right-1 {
      width: 80%; }
      @media only screen and (max-width: 57.375em) {
        .about__gallary__right-1 {
          width: 80%; } }
    .about__gallary__right-2 {
      width: 80%; }
      @media only screen and (max-width: 57.375em) {
        .about__gallary__right-2 {
          width: 80%; } }

.about__details {
  flex: 1;
  padding-left: .5rem;
  overflow: hidden;
  font-family: inherit;
  align-self: center; }

.about-heading {
  font-size: 3.4rem !important; }
  @media only screen and (max-width: 30.06em) {
    .about-heading {
      margin-top: 1rem;
      font-size: 2rem !important; } }

.about-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 57.375em) {
    .about-btn {
      align-items: center;
      width: 20%;
      font-size: 1.4rem;
      margin-right: 2rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 30.06em) {
    .about-btn {
      align-items: center;
      width: 50%;
      font-size: 1.4rem;
      margin-right: 2rem;
      margin-bottom: 3rem; } }

.about-btn::after {
  color: #000;
  content: "\2192"; }

.house-assured__photo {
  height: 100%;
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 57.375em) {
    .house-assured__photo {
      height: 50%; } }

.house-assured__item {
  flex: 1;
  padding-left: 5rem; }
  @media only screen and (max-width: 57.375em) {
    .house-assured__item {
      align-self: center; } }
  @media only screen and (max-width: 30.06em) {
    .house-assured__item {
      display: none; } }

.house-assured__details {
  flex: 1;
  align-self: center; }

.house-assured-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: var(--color-primary); }

.house-assured-btn::after {
  color: #000;
  content: "\2192"; }

.blog-arrow__1::before {
  content: "\2190";
  font-size: 3rem;
  margin-right: 5rem; }
  @media only screen and (max-width: 57.375em) {
    .blog-arrow__1::before {
      font-size: 1.5rem; } }

.blog-arrow__2 {
  font-size: 3rem; }
  @media only screen and (max-width: 57.375em) {
    .blog-arrow__2 {
      font-size: 1.5rem; } }

.blog-arrow__2::after {
  content: "\2192";
  background-color: var(--grey-primary);
  color: var(--color-primary);
  padding: 1.2rem;
  border-radius: 1rem; }

.blog-item {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .blog-item:not(:last-child) {
    margin-right: 3rem; }
    @media only screen and (max-width: 44.5625em) {
      .blog-item:not(:last-child) {
        margin-right: 0; } }
  .blog-item__photo {
    width: 100%;
    object-fit: cover;
    height: 50vh; }
    @media only screen and (max-width: 57.375em) {
      .blog-item__photo {
        height: 20vh; } }
    @media only screen and (max-width: 57.375em) {
      .blog-item__photo {
        height: 40vh; } }
    @media only screen and (max-width: 57.375em) {
      .blog-item__photo {
        width: 100%;
        object-fit: cover;
        height: 28vh; } }

.blog-info {
  font-weight: 200;
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .blog-info > *:not(:last-child) {
    padding-right: .5rem; }

.blog-title {
  font-family: var(--font-secondary);
  margin-bottom: .5rem;
  font-weight: 600; }

.blog-subtitle {
  font-family: var(--font-secondary);
  font-size: 1.38rem;
  margin-bottom: 1rem; }

.blog-readmore {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500; }
  @media only screen and (max-width: 44.5625em) {
    .blog-readmore {
      margin-bottom: 2rem; } }

.blog-icon {
  width: 2rem;
  font-weight: 900;
  height: 1.6rem;
  align-self: center;
  padding-top: .5rem;
  fill: var(--color-primary); }

.footer-nav {
  color: var(--grey-dark-3); }
  @media only screen and (max-width: 30.06em) {
    .footer-nav {
      padding: 1rem 0 0 0;
      font-size: 1rem; } }
  .footer-nav__item {
    border: none !important; }

@media only screen and (max-width: 57.375em) {
  .footer-logo {
    order: -1; } }

.testimony-heading {
  display: flex;
  overflow: hidden;
  height: 15vh;
  align-items: center; }
  .testimony-heading__qoute {
    color: var(--color-primary);
    font-size: 14rem;
    font-weight: 900;
    margin-top: 5rem;
    align-self: center;
    line-height: .5rem;
    font-family: var(--font-primary); }
    @media only screen and (max-width: 30.06em) {
      .testimony-heading__qoute {
        font-size: 6rem;
        margin-top: 1rem; } }
  .testimony-heading__heading {
    flex: 1;
    font-family: var(--font-secondary);
    display: flex;
    font-size: 3.5rem !important;
    justify-content: center;
    text-align: center; }

.testimony-content {
  display: flex;
  justify-content: space-between; }
  .testimony-content__story {
    text-align: center;
    flex-basis: 75%;
    font-size: 1.7rem;
    font-family: var(--font-secondary);
    font-weight: 400; }
  .testimony-content__arrow {
    flex: 2; }
    .testimony-content__arrow--1 {
      display: flex;
      justify-content: end;
      align-items: center; }

.testimony-end {
  display: flex;
  overflow: hidden;
  height: 11vh;
  justify-content: center; }
  .testimony-end__qoute {
    color: var(--color-primary);
    font-size: 14rem;
    font-weight: 900;
    margin-top: 3rem;
    margin-right: 10rem;
    align-self: center;
    line-height: .5rem;
    font-family: var(--font-primary); }
    @media only screen and (max-width: 30.06em) {
      .testimony-end__qoute {
        font-size: 6rem;
        margin-top: 1rem; } }
  .testimony-end__heading {
    flex: 2;
    display: flex;
    padding-left: 25rem;
    text-align: center;
    justify-content: center; }
  .testimony-end__company {
    font-family: var(--font-secondary);
    font-weight: 800;
    display: flex;
    align-items: center;
    font-size: 1.8rem; }
    .testimony-end__company-name {
      font-weight: 300;
      font-family: var(--font-secondary);
      align-self: center;
      padding-left: .2rem;
      font-size: 1.5rem; }

.heading-1 {
  font-size: 5.9rem;
  line-height: 5.7rem;
  font-weight: 700;
  animation: moveIn .7s ease-out; }
  @media only screen and (max-width: 57.375em) {
    .heading-1 {
      font-size: 3.5rem;
      line-height: 4rem; } }
  @media only screen and (max-width: 30.06em) {
    .heading-1 {
      font-size: 2.8rem;
      line-height: 3.2rem; } }
  @media only screen and (max-width: 18.125em) {
    .heading-1 {
      font-size: 2rem;
      line-height: 2.6rem;
      margin-top: 3rem; } }

@media only screen and (max-width: 30.06em) {
  .p-h {
    display: none; } }

.p-1 {
  font-size: 1.35rem;
  line-height: 2rem;
  font-weight: 400;
  animation: slideup .7s ease-out; }

.r-d {
  color: var(--color-primary); }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  50% {
    opacity: 0.2;
    transform: translateX(-50rem); }
  60% {
    opacity: 0.3; }
  80% {
    opacity: 0.4; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(500rem); }
  50% {
    opacity: 0.2;
    transform: translateX(-50rem); }
  60% {
    opacity: 0.3; }
  80% {
    opacity: 0.4; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  60% {
    opacity: 0.3; }
  80% {
    opacity: 0.4; }
  100% {
    opacity: 1;
    transform: transform(0); } }
