.heading-1{
    font-size: 5.9rem;
    line-height: 5.7rem;
     font-weight: 700;
 }

.p-1{
    font-size: 1.35rem;
    line-height: 2rem;
    font-weight: 400;
 
     
}
.r-d{
    color: var(--color-primary);
}